/* Базові стилі для тексту*/
.body {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #626262; 
}
 
/*Шапка сайту*/
.header-nav-list {
    list-style: none;
}
.header-nav-list > li > a {
    color: #7d7d7d;
    text-decoration: none;
}
.header-nav-list > li > a:hover {
    color: #03a9f4;
}

.card-category {
font-family: 'Ubuntu';
font-weight: 300;
line-height: 16px;
color: #B4AD9E;
}

.card-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

.main-button {
font-family: 'Playfair Display';
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #626262;
}